div(class="anim-fade")
    form(class="panel panel-default form-position" name="settingsForm")
        legend(class="panel-heading")
            span(class="panel-title") Налаштування
        fieldset(class="panel-body")
            div( class="form-group has-feedback"
                ng-class="{'has-error': settingsForm.maxMonthHollydays.$invalid, 'has-success': settingsForm.maxMonthHollydays.$valid}"
                )
                label(for="maxmounthollydays" class="control-label") Максимальна кількість відпускних у місяці
                input(  type="number" 
                        class="form-control"
                        id="maxMonthHollydays"
                        placeholder="Максимальна кількість відпускних у місяці"
                        ng-model="$ctrl.settings.maxMonthHollydays"
                        name="maxMonthHollydays",
                        min=0
                        max=31)
                p(class="help-block"
                    ng-show="settingsForm.maxMonthHollydays.$invalid") 
                    | Число має бути від 0 до 31 включно
            div(class="form-group has-feedback"
                ng-class="{'has-error': settingsForm.maxYearHollydays.$invalid, 'has-success': settingsForm.maxYearHollydays.$valid}")
                label(
                    for="maxyearshollydays"
                    class="control-label"
                    )
                    | Max years hollydays
                input(  type="number" 
                        class="form-control" 
                        id="maxYearHollydays"
                        ng-model="$ctrl.settings.maxYearHollydays"
                        placeholder="Максимальна кількість відпускних у році"
                        name="maxYearHollydays",
                        min = 0
                        max = 366)
                p(  class="help-block"
                    ng-show="settingsForm.maxYearHollydays.$invalid")
                    | Число має бути від 0 до 366 включно
        div(class="panel-footer")
            button(type="submit"
                    class="btn btn-default"
                    ng-click="$ctrl.saveSettings()") 
                    span(class="glyphicon glyphicon-edit")
                          span() Зберегти
            button(type="reset"
                    class="btn btn-default"
                    uib-tooltip="Натисніть, щоб скинути визначені фільтри") 
                    span(class="glyphicon glyphicon-ban-circle")
                          span() Відмінити

    form(class="panel panel-default form-position")
        legend(class="panel-heading")
                span(class="panel-title") Календар
        fieldset(class="panel-body")
            div(class="form-group")
                div(clear-text= "Очистити",
                    close-text = "Закрити",
                    current-text = "Сьогодні",
                    uib-datepicker 
                    ng-model="$ctrl.dt"
                    datepicker-options="$ctrl.options"
                )
                p(class="help-block"
                    ng-show="$ctrl.dt")
                    | Вибрана дата: {{$ctrl.dt | date:"dd.MM.yyyy"}} є {{$ctrl.isWeekendsDate($ctrl.dt)? 'Вихідним': 'Робочим'}}
        div(class="panel-footer")
            button(type="submit"
                    class="btn btn-default"
                    ng-click="$ctrl.setWeekends($ctrl.dt, false)") 
                    span(class="glyphicon glyphicon-asterisk")
                          span() Встановити вихідний
            button(type="submit"
                    class="btn btn-default"
                    ng-click="$ctrl.setWeekends($ctrl.dt, true)")
                      span(class="glyphicon glyphicon-wrench")
                          span() Видалити вихідний
            button(type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.initWeekends()")
                     span(class="glyphicon glyphicon-list-alt")
                          span() Ініціалізувати 
